/* main page */
body {

    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    font-size: 15px;
    line-height: 1.6;
    margin: 0;

}

.main {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 80vw;
    height: 80wh;
    margin: 0 auto;


}


.serv ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    text-align: center  ;
  }
    
  .serv ul li {
      margin: 3px;
    list-style: none;
    flex: 0 0 33%;
    margin: auto;
   
  }
  .serv ul li img{
     
     max-height: 33vh;
      
  }
/* header */
.header_inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header {
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 15px;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;

}

.nav_link {
    color: black;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    text-decoration: none;
    transition: color .1s linear;
}

.nav_link:after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 3px;
    background-color: coral;
    position: absolute;
    top: 100%;

    transition: opacity .1s linear;
    left: 0;
    z-index: 1;
}

.nav_link:hover {
    color: coral;

}

.nav_link:hover:after {
    opacity: 1;

}.nav_link_hold {
    color: coral;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    text-decoration: none;
    transition: color .1s linear;
}
.nav_link_hold:after {
    content: "";

    width: 100%;
    height: 3px;
    background-color: coral;
    position: absolute;
    top: 100%;

    transition: opacity .1s linear;
    left: 0;
    z-index: 1;
}